<div>
  <ng-container *ngIf="normalInput === true">
    <div class="form-group">
      <div class="d-flex align-items-center">
        <ng-container *ngIf="label !== ''">
          <label for="">{{label}} <ng-container *ngIf="required"><span class="text-danger">*</span></ng-container>
          </label>
        </ng-container>
        <div class="ms-auto text-danger lh15" *ngIf="errorText !== ''">
          <small>{{errorText}}</small>
        </div>
        <div class="ms-auto d-flex align-items-center mh16">
          <div class="mandatory-text" *ngIf="control?.control?.invalid && errorTrueNow">
            {{control?.control?.errors | appFormError: errorText}}
          </div>
        </div>
      </div>
      <div class="input-group with-date" [ngClass]="{'disabled': btnClickedNow}">
        <input type="text" class="form-control" [(ngModel)]="xvalue" name="{{name}}" placeholder="{{placeholder}}"
          readonly [matDatepicker]="picker" (click)="picker.open()" [autofocus]="autofocus"
          (dateChange)="dateSelected()" readonly [disabled]="btnClickedNow"
          [ngClass]="{'border-danger': control?.control?.invalid && errorTrueNow}" (blur)="doBlur()" (focus)="doFocus()"
          (keydown)="checkEnter($event)" #forminput [min]="minDateNow" [max]="maxDateNow" [id]="name" />
        <div class="input-group-append">
          <div class="date-btn" matRipple="!btnClickedNow" (click)="picker.open()">
            <ion-icon src="assets/svg/calendar_icon.svg"></ion-icon>
          </div>
          <div class="ibtn" matRipple="!btnClickedNow" (click)="onLocalClear()">
            <ion-icon name="close"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="primeInput === true">
    <div class="primeInput-group">
      <div class="d-flex align-items-center">
        <ng-container *ngIf="label !== ''">
          <label for="">{{label}} <ng-container *ngIf="required"><span class="text-danger">*</span></ng-container>
          </label>
        </ng-container>
        <div class="ms-auto text-danger lh15" *ngIf="errorText !== ''">
          <small>{{errorText}}</small>
        </div>
        <div class="ms-auto d-flex align-items-center mh16">
          <div class="mandatory-text" *ngIf="control?.control?.invalid && errorTrueNow">
            {{control?.control?.errors | appFormError: errorText}}
          </div>
        </div>
      </div>
      <div class="input-group card" [ngClass]="{'disabled': btnClickedNow}">
        <p-calendar class="primeng-control" [(ngModel)]="xvalue" name="{{name}}" [autofocus]="autofocus"
          [showIcon]="true" [minDate]="minDateNow" [maxDate]="maxDateNow" readonly placeholder="{{placeholder}}"
          (dateChange)="dateSelected()" [disabled]="btnClickedNow" [dateFormat]="dateFormat"
          [ngClass]="{'border-danger': control?.control?.invalid && errorTrueNow}" (blur)="doBlur()" (focus)="doFocus()"
          (keydown)="checkEnter($event)" #forminput [id]="name" [showButtonBar]="showButton"></p-calendar>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="matInput === true">
    <div>
      <mat-form-field [ngClass]="{'mat-form-field-invalid': control?.control?.invalid && errorTrueNow}" class="mat-input-box">
        <mat-label class="form-label">{{label}}<span *ngIf="requiredNow && label !==''"> *</span></mat-label>
        <input type="text" matInput [(ngModel)]="xvalue" name="{{name}}" placeholder="{{placeholder}}" readonly
          [matDatepicker]="picker" (click)="picker.open()" [autofocus]="autofocus" (dateChange)="dateSelected()"
          [disabled]="btnClickedNow" [ngClass]="{'border-danger': control?.control?.invalid && errorTrueNow}"
          (blur)="doBlur()" (focus)="doFocus()" (keydown)="checkEnter($event)" #forminput [min]="minDateNow"
          [max]="maxDateNow" [id]="name" [errorStateMatcher]="matcher" />
        
        <div matSuffix>
          <a mat-icon-button (click)="onLocalClear()" matTooltip="Clear" class="ibtn">
            <ion-icon name="close"></ion-icon>
          </a>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        </div>
        <mat-hint *ngIf="control?.control?.invalid && errorTrueNow" class="mat-hint-error flex align-items-center justify-content-end">
          mandatory
        </mat-hint>
      </mat-form-field>
    </div>
  </ng-container>
</div>

<mat-datepicker #picker [disabled]="btnClickedNow">
</mat-datepicker>