<div class="flex align-items-center justify-content-center h-full w-full">
    <form #l="ngForm" (ngSubmit)="save(l)">
        <div>
            <app-input-control [normalInput]="true" label="First Name" placeholder="Enter Your First Name"
                [(ngModel)]="title" name="title" [required]="true" [errorTrue]="errorTrue"></app-input-control>
        </div>
        <div>
            <app-data-control [normalInput]="true" label="Date of Birth" placeholder="Enter Your First Name"
                [(ngModel)]="dob" name="dob" [maxDate]="beginDate"></app-data-control>
        </div>
        <div>
            <button>Submit</button>
        </div>
    </form>
</div>
<router-outlet></router-outlet>