/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import 'node_modules/primeflex/primeflex.css';
@import "scss/bootstrap/bootstrap.scss";
@import "scss/form.scss";
@import "/src/scss/theme.scss";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";